.login-contanier {
    background-color: #ee4d2d;
    min-height: 100vh;
    padding-top: 20px;
    .content-left {
        margin-top: 30px;
        .brand-icon {
            font-size: 200px;
            color: #fff;
        }
        .brand {
            font-size: 40px;
            font-weight: 600;
            color: #fff;
        }
    }

    .content-right {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        .btn-login {
            background-color: #f3826c;
        }
        .brand {
            color: #222;
            font-size: 24px;
        }
    }
}